:root {
  --icon-gear: #666;
}

body {
  width: 20rem;
  padding: 0.8rem;
}

.comment {
  width: 100%;
  min-height: 8em;
  padding: 1%;
  margin-bottom: 3%;
  resize: none;
}

.create-report-button {
  background-color: dodgerblue;
  color: white;
  padding: 3%;
  border: none;
  cursor: pointer;
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 0.9em;
  color: #333;
}

label {
  font-weight: bold;
}

input[type='text'] {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-left: 10px;
}

.go-to-options {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 1em;
  right: 1em;
}

.show-name-name {
  margin-bottom: 10px;
}

.svg-button {
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}
